html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-display: swap;
  font-family: "SFProDisplay";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/FontsFree-Net-SFProDisplay-Regular.ttf");
}

@font-face {
  font-display: swap;
  font-family: "SFProDisplaySB";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/FontsFree-Net-SFProDisplay-Semibold.ttf");
}

@font-face {
  font-display: swap;
  font-family: "SFProDisplayB";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/FontsFree-Net-SFProDisplay-Bold.ttf");
}
