$white: #fff;
$black: #000;
$background-color: #fff6e5;
$gray-font: #313131;
$input-bg: #fdfcfc;
$input-placeholder: #54565a;

$SFProDisplay: "SFProDisplay";
$SFProDisplaySB: "SFProDisplaySB";
$SFProDisplayB: "SFProDisplayB";

$md: 768px;
$lg: 1024px;
$xl: 1200px;
