$white: #fff;
$black: #000;
$background-color: #fffcf9;
$gray-font: #313131;
$gray-font-secondary: #2a2b26;
$gray-font-tertiary: #74776d;
$input-bg: #fdfcfc;
$input-placeholder: #54565a;
$light-pink: #fe6a79;
$light-blue: #4abdf1;
$dark-blue: #00173d;
$light-green: #eef5db;

$SFProDisplay: "SFProDisplay";
$SFProDisplaySB: "SFProDisplaySB";
$SFProDisplayB: "SFProDisplayB";

$PlayFairB: "PlayFairB";

$RobotoLight: "RobotoLight";
$RobotoB: "RobotoB";

$md: 768px;
$lg: 1024px;
$xl: 1200px;
