$white: #fff;
$almost-white: #fefefe;
$almost-white-two: #e7e7e1;
$background-color: #fffcf9;
$orange-white: #fff6e5;
$input-bg: #fdfcfc;
$light-green: #eef5db;
$light-pink: #fe6a79;
$light-pink-secondary: #ff6978;
$purple: #451475;
$light-blue: #4abdf1;
$dark-blue: #00173d;
$gray-font-tertiary: #74776d;
$input-placeholder: #54565a;
$gray-one: #3f4043;
$gray-blue: #36383a;
$gray-font: #313131;
$gray-font-secondary: #2a2b26;
$black: #000;

$SFProDisplay: "SFProDisplay";
$SFProDisplaySB: "SFProDisplaySB";
$SFProDisplayB: "SFProDisplayB";

$PlayFairB: "PlayFairB";

$RobotoLight: "RobotoLight";
$RobotoB: "RobotoB";

$md: 768px;
$lg: 1024px;
$xl: 1200px;
