@import "../../../variables.scss";

.container {
  margin: 30px 0px;
  position: relative;

  .scroller {
    display: flex;
    height: 500px;
    margin: auto;
    overflow: scroll;
    width: 100%;

    .spacer {
      height: 80%;
      margin: auto;
      min-width: 5.5%;
    }

    .card {
      background: $white;
      height: 80%;
      margin-right: 20px;
      margin: auto;
      min-width: 75%;
      transition: 0.5s ease;

      &:hover {
        transform: scale(1.15);
      }
    }

    &.one {
      margin-left: 20px;
    }

    &.six {
      margin-right: 20px;
    }
  }

  .oval {
    position: absolute;
    right: 0px;
    top: 0px;
  }

  .slider-container {
    align-items: center;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;

    .card-container {
      align-items: center;
      background-color: $purple;
      border-radius: 5px;
      display: flex;
      height: 128px;
      justify-content: space-between;
      margin-right: 10px;
      padding: 15px 20px;
      width: 250px;

      &:first-child {
        background-color: $dark-blue;
        background-image: url("../../../public/imgs/svg/card-bg.svg");
        background-position-y: 25px;
        background-repeat: no-repeat;
        background-size: 374px;
        height: 139px;
        margin-left: 20px;

        @media (min-width: $md) {
          margin-left: 50px;
        }

        @media (min-width: $xl) {
          margin-left: 100px;
        }
      }

      .title-author-read-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        width: 50%;

        .title-author-container {
          display: flex;
          flex-direction: column;

          .title {
            color: $almost-white;
            font-family: $PlayFairB;
            font-size: 27px;
            font-style: normal;
            font-weight: bold;
            letter-spacing: 2px;
            line-height: 36px;
            margin-bottom: 5px;
          }

          .author {
            color: $almost-white-two;
            font-family: $SFProDisplay;
            font-size: 14px;
            font-style: italic;
            letter-spacing: 1.28889px;
            line-height: 16px;
          }
        }

        .read-container {
          align-items: center;
          display: flex;

          .img {
            height: 16px;
            margin-right: 2px;
            width: 16px;
          }

          .read-number {
            margin-right: 2px;
          }
          .read-number,
          .title {
            color: $almost-white-two;
            font-family: $SFProDisplayB;
            font-size: 12px;
            font-style: normal;
            letter-spacing: 0.020635px;
            line-height: 14px;
          }

          .title {
            font-family: $SFProDisplay;
          }
        }
      }

      .thumb-container {
        align-items: center;
        display: flex;
        justify-content: flex-end;
        width: 50%;

        .img {
          height: 109px;
          width: 73px;
        }

        .no-image {
          align-items: center;
          background-color: $gray-one;
          display: flex;
          height: 109px;
          justify-items: center;
          width: 73px;

          span {
            color: $orange-white;
            font-family: $SFProDisplay;
            font-size: 12px;
            text-align: center;
            width: 100%;
          }
        }
      }
    }
  }
}
