@import "../../variables.scss";

.container {
  margin: 30px 0;

  .greetings {
    .hi,
    .name {
      color: $input-placeholder;
      font-family: $SFProDisplay;
      font-size: 24px;
      font-style: normal;
      font-weight: normal;
      line-height: 29px;
    }

    .name {
      color: $light-pink;
    }
  }
}
