@import "../../variables.scss";

.container {
  align-items: center;
  background-color: $background-color;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;

  span {
    -moz-animation: fadeAnimation 3.5s infinite;
    -o-animation: fadeAnimation 3.5s infinite;
    -webkit-animation: fadeAnimation 3.5s infinite;
    animation: fadeAnimation 3.5s infinite;
    font-family: $SFProDisplay;
    font-size: 42px;
  }
}

@keyframes fadeAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
