@import "../../variables.scss";

.container {
  padding-bottom: 30px;
  .load-more-container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .load-more {
      cursor: pointer;
      height: 30px;
      border: 1px solid $almost-white-two;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;

      .title {
        color: $light-blue;
        font-family: $SFProDisplay;
        font-size: 14px;
        line-height: 16px;
        text-align: right;
      }
    }
  }

  .books-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;

    .books-container {
      display: flex;
      flex-direction: column;
      margin-bottom: 12px;
      width: 105px;

      .title {
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        color: $gray-font;
        display: -webkit-box;
        font-family: $SFProDisplay;
        font-size: 12px;
        font-style: normal;
        font-weight: bold;
        height: 26px;
        line-height: 14px;
        margin-bottom: 5px;
        margin-top: 10px;
        overflow: hidden;
      }

      .author {
        color: $gray-font;
        font-family: $RobotoB;
        font-size: 10px;
        font-style: normal;
        font-weight: 900;
        line-height: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
