@import "../../variables.scss";

.container {
  .books-list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;

    .books-container {
      display: flex;
      flex-direction: column;
      margin-bottom: 12px;
      width: 105px;

      .title {
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        color: $gray-font;
        display: -webkit-box;
        font-family: $SFProDisplay;
        font-size: 12px;
        font-style: normal;
        font-weight: bold;
        height: 26px;
        line-height: 14px;
        margin-bottom: 5px;
        margin-top: 10px;
        overflow: hidden;
      }

      .author {
        color: $gray-font;
        font-family: $RobotoB;
        font-size: 10px;
        font-style: normal;
        font-weight: 900;
        line-height: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
