@import "../../../variables.scss";

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;

  .title {
    font-family: $SFProDisplay;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.5px;
    color: $input-placeholder;
  }

  .more {
    font-family: $SFProDisplay;
    font-size: 14px;
    line-height: 16px;
    text-align: right;
    color: $light-blue;
  }
}
