@import "../../variables.scss";

.container {
  align-items: center;
  background-color: $background-color;
  min-height: 100vh;
  width: 100%;
  padding-bottom: 60px;

  .main {
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    padding: 50px 0px;

    .menu-container {
      position: fixed;
      width: 100%;
      height: 56px;
      bottom: 53px;
      display: flex;
      align-items: center;
      justify-content: center;

      .menu {
        width: 335px;
        height: 100%;
        border-radius: 2px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: $white;

        .divisor-right {
          height: 16px;
          border-right: 1px solid rgba(151, 151, 151, 0.2);
        }
        .section {
          cursor: pointer;
          align-items: center;
          width: calc(100% / 3);
          display: flex;
          align-items: center;
          justify-content: center;

          .img {
            margin-right: 10px;
          }

          .title {
            font-family: $SFProDisplayB;
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 1px;
            color: #3f4043; // TODO:
          }
        }
      }
    }

    .header-bg {
      //TODO:
      position: absolute;
      top: 0;
      height: 282px;
      width: 100%;
      background-color: #fff6e5;
      border-radius: 0px 0px 100px 0px;
      background-image: url("../../public/imgs/svg/ovaltopabout.svg");
      background-repeat: no-repeat;
      background-position-x: 105%;
      background-position-y: -15px;
      background-size: 100px;

      .oval-blue {
        position: absolute;
        top: 115px;
        left: 74px;
      }

      .oval-pink {
        position: absolute;
        top: 125px;
        left: 47px;
      }

      .oval-rounded {
        position: absolute;
        top: 90px;
        right: 103px;
      }

      .oval-bottom {
        position: absolute;
        top: 218.11px;
        right: 100px;
        transform: rotate(25deg);
      }
    }

    .back-container {
      width: 100%;
      margin-bottom: 15px;

      .img {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        cursor: pointer;
      }
    }

    .picture-container {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 31px;
    }

    .title-sub-container {
      .title {
        font-family: $SFProDisplayB;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 1.5px;
        //TODO:
        color: #36383a;
      }

      .subtitle {
        font-family: $SFProDisplay;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 1.5px;
        //TODO:
        color: #36383a;
      }
    }

    .author-container {
      margin-top: 7px;
      margin-bottom: 10px;
      .author {
        font-family: $SFProDisplay;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.670588px;
        color: #ff6978; //TODO:
      }
    }

    .description {
      font-family: $SFProDisplay;
      font-size: 14px;
      line-height: 25px;
      letter-spacing: 0.2px;
      color: $gray-font;
    }
  }
}
